<p id="notice"><%= notice %></p>

<h1>Listing Rtc Infos</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rtc_infos.each do |rtc_info| %>
      <tr>
        <td><%= rtc_info.username %></td>
        <td><%= rtc_info.password %></td>
        <td><%= rtc_info.user_id %></td>
        <td><%= link_to 'Show', rtc_info %></td>
        <td><%= link_to 'Edit', edit_rtc_info_path(rtc_info) %></td>
        <td><%= link_to 'Destroy', rtc_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rtc info', new_rtc_info_path %>
