<h2>
  Report
</h2>


<%= bootstrap_form_tag url: '/time/admin/createreport',:html => {:class => "form-inline center"} , method: :get do |f| %>
    <%= f.date_field :sdate, value: @start_date %>
    <%= f.date_field :edate, value: @end_date %>
    <%= f.check_box :explode, label: "Explode reason", value: @explode %>
    <%= f.submit 'Load' %>
    <%= link_to('Excel',time_admin_exportnew_path(:sdate =>@start_date , :edate=>@end_date ,:explode =>@explode  ),class: "btn btn-success" )%>

<% end %>

<br>
<ul>
    <li>Dove presente il simbolo "?" l' utente nn ha caricato ore, si riporta il valore di fcast</li>
    <li>Per le festività il forecast viene preso in considerazione solo sulle reason che hanno fcast value > 0</li>
    <li>Il valore di fcast sulle date antecedenti l' attuale è sempre 0</li>
    <li>Il valore di fcast per le date future è calcolato in base al valore fcast assciato alla reason ad eccezione delle festività</li>
</ul>

<br/>
<div id="myGrid" class="ag-fresh" style="height: 400px">

</div>

<script type="text/javascript" charset="utf-8">
  var columnDefs = <%= @columns.to_json.html_safe %>;

  var rowData = <%= @rows.to_json.html_safe %>;
  var gridOptions = {
    columnDefs: columnDefs,
    rowData: rowData,
    enableColResize: true, //one of [true, false]
    enableSorting: true, //one of [true, false]
    enableFilter: true, //one of [true, false]
    rowSelection: "single"
  };

  // setup the grid after the page has finished loading
  document.addEventListener('DOMContentLoaded', function() {
    var gridDiv = document.querySelector('#myGrid');
    new agGrid.Grid(gridDiv, gridOptions);
  });
</script>