<h2>Sign up</h2>

<div class="row">
  <div class="col-md-6">
    <div class="well bs-component">
      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

          <%= f.email_field :email, autofocus: true %>
          <%= f.password_field :password, autocomplete: "off" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
<div class="row">
          <div class="col-md-12">
          <%= f.submit "Sign up" %>
             </div>
        </div>
      <% end %>
        <div class="row">
          <div class="col-md-12">
            <%= render "devise/shared/links" %>
          </div>
        </div>
    </div>
  </div>
</div>
