<h1>Release Calendar</h1>


<%= month_calendar events: @releases do |date, releases| %>
  <%= date %>
  
  <% releases.each do |release| %>
    <div>
      <span class="label cal-label " style="background-color:<%=release.reltype.color %>"><%= link_to release.system.short+"-"+release.rel, release , class: "cal-link" %></span> 
    </div>
  <% end %>
<% end %>  
<div class="row">
  <div class="col-md-12">
    <%= link_to 'New Release', new_release_path ,class: "btn btn-success" %>

  </div>
</div>
