<%= bootstrap_form_for(@query_check) do |f| %>
  <% if @query_check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@query_check.errors.count, "error") %> prohibited this query_check from being saved:</h2>

      <ul>
      <% @query_check.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :title %>
    <%= f.number_field :rpt_interval %>

    <%= f.label :is_started %><br>
    <%= f.check_box :is_started %>
    <%= f.check_box :is_paused %>

      <%= f.check_box :is_complex %>
    <%= f.collection_select :database_id, Database.all, :id, :sid %>


    <%= f.text_area :statement %>

    <%= f.number_field :num_exec %>

    <%= f.date_select :last_exec_dt %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
