<p id="notice"><%= notice %></p>

<h1>Listing User Profiles</h1>

<div class="row">
  <div class="col-md-12 well">
    <table  class="table table-bordered datatable">
  <thead>
    <tr>
      <th>User</th>
      <th>Deployed</th>
      <th>Team</th>
      <th>Sap</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_profiles.each do |user_profile| %>
      <tr>
        <td><%= user_profile.email %></td>
        <td><%= user_profile.deployed %></td>
        <td><%= user_profile.team %></td>
        <td><%= user_profile.sap %></td>
        <td><%= link_to 'Show', user_profile %></td>
        <td><%= link_to 'Edit', edit_user_profile_path(user_profile) %></td>
        <td><%= link_to 'Destroy', user_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>

<%= link_to 'New User profile', new_user_profile_path %>

<script>

  $(function() {
    $('.datatable').DataTable({});
  });
</script>