<h1>Status of <strong><%= @env.name %></strong></h1>



<h2>Ongoing installations</h2>

<div class="row">
    <div class="col-md-12 well">
        <table id="newinstall"  class="table table-bordered">
  <thead>
    <tr>

      <th>Release</th>      <th>Created</th>

      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @installations.each do |installation| %>
      <tr>
        <td><%= installation.release %></td>
        <td><%= installation.created_at.strftime("%d-%m-%Y %H:%M:%S")   %></td>
        <td><%= link_to 'View  <i class="fa fa-eye"></i> '.html_safe , '/my_installation/testview/' + installation.id.to_s , class:"btn btn-sm btn-primary"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

    </div>
</div>


<h2>Old installations</h2>

<div class="row">
    <div class="col-md-12 well">
        <table id="oldinstall" class="table table-bordered">
  <thead>
    <tr>
      <th>Release</th>      <th>Created</th>

      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @oldinstall.each do |installation| %>
      <tr>        <td><%= installation.release %></td>

        <td><%= installation.created_at.strftime("%d-%m-%Y %H:%M:%S")  %></td>
        <td><%= link_to 'View  <i class="fa fa-eye"></i> '.html_safe , '/my_installation/testview/' + installation.id.to_s , class:"btn btn-sm btn-primary"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

    </div>
</div>
<script>
    
$(function() {
    $('#oldinstall').DataTable({ "aaSorting": []});
    $('#newinstall').DataTable({ "aaSorting": []});
 });
</script>