<%= form_for(@time_time_report) do |f| %>
  <% if @time_time_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_time_report.errors.count, "error") %> prohibited this time_time_report from being saved:</h2>

      <ul>
      <% @time_time_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :repdate %><br>
    <%= f.date_select :repdate %>
  </div>
  <div class="field">
    <%= f.label :hours %><br>
    <%= f.text_field :hours %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
