<p id="notice"><%= notice %></p>

<h1>Listing Time Reasons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_reasons.each do |time_reason| %>
      <tr>
        <td><%= time_reason.name %></td>
        <td><%= link_to 'Show', time_reason %></td>
        <td><%= link_to 'Edit', edit_time_reason_path(time_reason) %></td>
        <td><%= link_to 'Destroy', time_reason, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reason', new_time_reason_path %>
