<%= form_for(@database) do |f| %>
  <% if @database.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@database.errors.count, "error") %> prohibited this database from being saved:</h2>

      <ul>
      <% @database.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sid %><br>
    <%= f.text_field :sid %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :pass %><br>
    <%= f.text_field :pass %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
