<p id="notice"><%= notice %></p>
<br/>
<h1>  <%= @webservice.name %> </h1>
<div class="row">
  <div class="col-md-12 well">
 
<p>
  <strong>Int endpoint:</strong>
  <%= @webservice.int_endpoint %>
</p>

<p>
  <strong>Bs:</strong>
  <%= @webservice.bs %>
</p>

<p>
  <strong>Bs method:</strong>
  <%= @webservice.bs_method %>
</p>

<p>
  <strong>Applet:</strong>
  <%= @webservice.applet %>
</p>

<p>
  <strong>Applet method:</strong>
  <%= @webservice.applet_method %>
</p>

<p>
  <strong>Comments:</strong>
  <pre>
      <%= @webservice.comments %>

  </pre>
</p>

<p>
  <strong>Involved flow:</strong>
  <pre>
      <%= @webservice.involvedflow %>

  </pre>
</p>


<p>
  <strong>Description:</strong>
  <%= @webservice.description %>
</p>

  </div>
</div>

<%= link_to 'Edit', edit_webservice_path(@webservice) %> |
<%= link_to 'Back', webservices_path %>
