<div class="row">
  <div class="col-md-6 well">
    <%= bootstrap_form_for(@time_festivitum) do |f| %>
        <% if @time_festivitum.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@time_festivitum.errors.count, "error") %> prohibited this time_festivitum from being saved:</h2>

              <ul>
                <% @time_festivitum.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.text_field :forecast_val %>
        </div>
        <div class="field">
          <%= f.check_box :chargeable %>
        </div>
        <div class="field">
          <%= f.date_select :festdate %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
    <% end %>

  </div>
</div>

