<%= bootstrap_form_for(@release) do |f| %>
  <% if @release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@release.errors.count, "error") %> prohibited this release from being saved:</h2>

      <ul>
        <% @release.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
          <% end %>
      </ul>
    </div>
    <% end %>

      <%= f.text_field :rel %>

      <div class="form-group">
          <div class="checkbox">
            <label>
              <input  name="release[completed]" type="checkbox"> Completed
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_area :note, style: "height:300px",class: "rnoutcome" %>
          </div>
          <div class="col-md-6">
            <%= f.text_area :outcome, style: "height:300px",class: "rnoutcome" %>
              </textarea>
          </div>
        </div>

      
        <div class="row">
          <div class="col-md-4">
            <%= f.date_field  :date %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>
<% end %>

<script>
  flatpickr('.datepick');
</script>