<p id="notice"><%= notice %></p>

<h2>
    <% if @release.system %>
      <%= @release.system.name %><% end %> <%= @release.rel %>
    <small> <%= @release.date.to_s(:rel_date) %></small>
</h2>

<div class="well bs-component">
  <%= bootstrap_form_for(@release) do |f| %>

    <%= link_to 'Edit', edit_release_path(@release), class:"btn btn-primary" %>
    <%= f.submit 'Save', :class => "btn btn-success" %>
    <%= link_to 'Release Items' , '/release/objects/'+@release.id.to_s , class:"btn btn-primary" %>

     <br/>
    
     <div class="row">
          <div class="col-md-6">
            <%= f.text_area :note, label:"Note for RN", style: "height:300px",class: "rnoutcome" %>
          </div>
    
          <div class="col-md-6">
            <%= f.text_area :outcome , label:"Outcome after RN", style: "height:300px",class: "rnoutcome" %>
              </textarea>
          </div>
     </div>
    <p>
    
    <div class="form-group">
          <div class="checkbox">
            <label>
              <input  name="release[completed]" type="checkbox"> Completed
            </label>
          </div>
        </div>
    <% end %> <!-- end form -->

    
      <table  class="table table-bordered">
      <thead>
        <tr>
          <th>Uploads KO and logs</th>
          <th>Size</th>
          <th>Action</th>
        </tr>
      </thead>
    
      <tbody>
       <% @release.uploads.each() do |file| %>
          <tr>
            <td><a href="<%= file.myfile.url %>"><%= file.myfile_file_name %></a></td>
            <td><%= file.myfile_file_size %></td>
            <td><%= link_to 'Delete', file, method: :delete, data: { confirm: 'Are you sure?' } %></td>

          </tr>
          <% end %>
        </tbody>
      </table>
      
   


<%= form_for(@upload, html: { multipart: true, class: "dropzone"}) do |f|  %>
    <div class="fallback">
      <%= f.file_field :myfile %><br>
      <%= f.submit "Upload" %>
    </div>
  <% end %>


<div class="row">
    <div class="col-md-12">
        <%= commontator_thread(@release) %>
    </div>
</div>


   


</div>

<script>
  $(document).ready(function(){
    
     $(function() {
          $('.rnoutcome').froalaEditor({
            
      height: 300
          })
      });
	// disable auto discover
	Dropzone.autoDiscover = true;

	// grap our upload form by its id
	$("#new_upload").dropzone({
		// restrict image size to a maximum 1MB
		maxFilesize: 50,
		// changed the passed param to one accepted by
		// our rails app
		paramName: "upload[myfile]",
		params: {"upload[release_id]" : <%= @release.id %>},
		// show remove links on each image upload
		addRemoveLinks: false
	});	
});
</script>
