<!DOCTYPE html>
<html>
<head>
  <title>WUP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
       <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="logo"><i class="fa fa-cloud-upload fa-4" aria-hidden="true"></i> WUP <small>Utilities portal</small></span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Timeline", monitor_index_path %> </li>
            <li><%= link_to "Time Report", time_my_report_calendar_path %> </li>
            <li><%= link_to '<i class="fa fa-briefcase" aria-hidden="true"></i> Environments'.html_safe, my_environment_home_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Release<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to '<i class="fa fa-calendar" aria-hidden="true"></i> Release Plan'.html_safe, calendar_index_path %></li>
                    <li role="separator" class="divider"></li>
                <li><%= link_to "T&A - Releases Template", rel_templates_path %></li>
                <li><%= link_to "T&A - New Installation", my_installation_newinstall_path %></li>
                <li><%= link_to "T&A - Current Installations", my_installation_ongoing_path %></li>
              </ul>
            </li>
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ambulance" aria-hidden="true"></i> Utilities<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to '<i class="fa fa-database" aria-hidden="true"></i> Usefull Query'.html_safe, my_query_index_path %></li>
                 <li><%= link_to '<i class="fa fa-sign-out" aria-hidden="true"></i> WS Outbound CRMDH'.html_safe, webservices_path %> </li>
                 <li><a href="http://10.139.91.64:8082/xwiki/bin/view/Test%20Team%20Solutions">WIKI Test </a> </li>
                 <li><a href="http://10.139.91.64:8082/xwiki/bin/view/Dashboard/Dev%20Team%20WIKI%20main">WIKI Dev </a> </li>
              </ul>
            </li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Release", releases_path %></li>
                <li><%= link_to "System", systems_path %></li>
                <li><%= link_to "Rel Type", reltypes_path %></li>
                <li><%= link_to "Environments", environments_path %></li>
                <li><%= link_to "Install Template", rel_templates_path %></li>
                <li><%= link_to "Install Item", rel_template_items_path %></li>
                <li><%= link_to "Query Check", query_checks_path %></li>
                <li><%= link_to "Running Job", check_my_check_viewjob_path %></li>
                <li><%= link_to "Database", databases_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Festivita", time_festivita_path %></li>
                <li><%= link_to "Reason", time_reasons_path %></li>
                <li><%= link_to "User Profie", user_profiles_path %></li>
                <li><%= link_to "Admin Report", time_admin_createreport_path %></li>
                <li><%= link_to "Admin2 Report", time_admin_index_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Skills", skills_path %></li>
                <li><%= link_to "PTable", skillsprofile_tableview_path %></li>

              </ul>
            </li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            	<% if user_signed_in? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to('WUP Account', edit_user_registration_path) %></li>
                    <li><%= link_to('RTC Account', '/my_rtc_infos/edit_my') %></li>
                  </ul>
                </li>

					<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
				<% else %>
					<li><%= link_to('Sign in', new_user_session_path) %></li>
					<li><%= link_to('Sign up', new_user_registration_path) %></li>
				<% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">
  
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <%= yield %>
  

</div>

</body>
</html>
