<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
       <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">WIDev Help</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Web Service", webservices_path %> </li>
            <li><%= link_to "Release", calendar_index_path %> </li>
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Query <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "New", new_query_path %></li>
                <li><%= link_to "List", my_query_index_path %></li>
              </ul>
            </li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Release", releases_path %></li>
                <li><%= link_to "System", systems_path %></li>
                <li><%= link_to "Rel Type", reltypes_path %></li>
                </ul>
            </li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            	<% if user_signed_in? %>
					<li><%= link_to('My Account', edit_user_registration_path) %></li>
					<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
				<% else %>
					<li><%= link_to('Sign in', new_user_session_path) %></li>
					<li><%= link_to('Sign up', new_user_registration_path) %></li>
				<% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">
  
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <%= yield %>
  

</div>

</body>
</html>
